<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
    <th:block th:include="/layout :: head"/>
</head>
<body>
<div>
    <div class="container">
        <div class="header">
            <h1>Hello java core</h1>
        </div>
        <div class="content">
            <div class="col-4 navbar-left">
                <h2>Navbar left</h2>
            </div>
            <div class="col-4 content-body">
                <h2>Body content</h2>
            </div>
            <div class="col-4 navbar-right">
                <h2>Navbar right</h2>
            </div>
        </div>
        <div class="footer">
            <p>Codegym</p>
        </div>
    </div>
</div>
</body>
</html>